<!-- enqueteCreate.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Create Enquete</title>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<link rel="stylesheet" type="text/css" href="/src/main/resources/static/create.css">
</head>

<body>
	<div id="create-root"></div>
	<script src="/static/js/enqueteCreate.bundle.js"></script>
	<div id="">
		<div class="app">
			<div id="notification-area"></div>
			<div class="base-style">
				<div class="base-content">
					<div class=""></div> <!--header-->
					<main class="create-content">
						<div class="left-part">
							<div class="sidebar-editor">
								<div class="start-message-panel">
									<div class="start-conponent">
										<div class="start-header">
											<span class="start-header-text">概要説明</span>
										</div>
										<div class="start-list"></div>
									</div>
								</div>
								<div class="draggable-handle"></div>
								<div class="question-panel"></div>
								<div class="draggable-handle"></div>
								<div class="ending-message-panel"></div>
							</div>
						</div>
						<div class="center-part"></div>
						<div class="right-part"></div>
					</main>
				</div>
			</div>
		</div>
	</div>


</body>

</html>