<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>globalMenu</title>
</head>
<body>

<div th:fragment="globalMenu">
	<header class="global-menu">
	    <div class="left-section">
	        <img src="site-icon.png" alt="サイトアイコン" class="site-icon">
	    </div>
	    <div class="center-section">
	        <a href="#" class="menu-link">作成</a>
	        <a href="#" class="menu-link">共有</a>
	        <a href="#" class="menu-link">結果</a>
	    </div>
	    <div class="right-section">
	        <button class="save-button">保存</button>
	        <button class="icon-button">アイコン</button>
	    </div>
	</header>
</div>

</body>
</html>
