@charset "UTF-8";

.result-app {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.cheif-header {
	flex-shrink: 0;

	padding-left: 0px;
	padding-right: 0px;
}

.result-base-style {
	height: 100%;
	width: 100vw;
	overflow: auto;
	display: flex;
	flex-flow: column;

	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: rgb(38, 38, 39);
	background: rgb(250, 250, 250);
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

/*globalMenu*/
.global-menu {
	min-height: 56px;
	-webkit-box-pack: justify;
	justify-content: space-between;
	background-color: rgb(255, 255, 255);
	display: flex;
}

.header-border {
	border-bottom: 1px solid rgb(239, 239, 239);
	display: flex;
}

.sub-header {
	background-color: rgb(255, 255, 255);
	margin-left: 16px;
	margin-right: 16px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	display: block;
	unicode-bidi: isolate;
}

.sub-header-parts-area {
	padding-left: 12px;
	padding-right: 12px;
	max-width: 1088px;
	display: flex;
}

.sub-header-parts {
	direction: ltr;

	box-sizing: border-box;
}

.sub-header-tablist {
	outline: none;
	padding: 0px;

	display: flex;
	gap: 4px;
	height: 56px;
	padding: 0px 12px;
	width: fit-content;
}

#insights-tab {
	appearance: button;

	-webkit-box-align: center;
	align-items: center;
	align-self: center;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	display: flex;
	flex-shrink: 0;
	font: 500 14px / 143% -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	gap: 8px;
	height: 32px;
	-webkit-box-pack: center;
	justify-content: center;
	padding: 0px 12px;
	text-decoration: none;
	transition-property: background-color, color;
	transition-duration: 0.2s;
	white-space: nowrap;
	position: relative;
	background-color: rgba(25, 25, 25, 0);
	color: rgb(94, 94, 94);
}

#summary-tab {
	appearance: button;

	-webkit-box-align: center;
	align-items: center;
	align-self: center;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	display: flex;
	flex-shrink: 0;
	font: 500 14px / 143% -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	gap: 8px;
	height: 32px;
	-webkit-box-pack: center;
	justify-content: center;
	padding: 0px 12px;
	text-decoration: none;
	transition-property: background-color, color;
	transition-duration: 0.2s;
	white-space: nowrap;
	position: relative;
	background-color: rgba(25, 25, 25, 0);
	color: rgb(94, 94, 94);
}

#summary-tab[data-state=":active"] {
	background-color: rgba(25, 25, 25, 0);
	color: rgb(61, 61, 60);
	cursor: default;

}